global:
  scrape_interval: 5s
  scrape_timeout: 5s
  evaluation_interval: 5s

rule_files:
- {{ prometheus_rules_dir }}/*.rules

scrape_configs:
- job_name: prometheus
  honor_timestamps: true
  scrape_interval: 5s
  scrape_timeout: 5s
  metrics_path: /metrics
  scheme: http
  follow_redirects: true
  enable_http2: false
  static_configs:
  - targets:
    - localhost:9090
